<section>
  <div class="card title-container">
    <h1>configuracion</h1> 
  </div>
  <div class="card primary title-container">
    configuracion primary
  </div>
  <div class="card primary-fade title-container">
    configuracion primary fade
  </div>
  <div class="card primary-light title-container">
    configuracion primary light
  </div>
  <div class="card secondary title-container">
    configuracion
  </div>
  <div class="card secondary-fade title-container">
    configuracion
  </div>
  <div class="card secondary-light title-container">
    configuracion
  </div>
  <app-update-profile></app-update-profile>
  <app-change-password></app-change-password>
</section>